{% extends 'index.html' %}

{% block content %}

    <div class='retailer-container'>
        <div class="select-retailer">
            <!-- <div class='heading'><h3>Shopp</h3></div> -->
            <div class="enter-retailer-id">
                <form method="POST">
                    {% csrf_token %}
                    <input type='text' placeholder="Enter Your Shop ID" name='shop_id'>
                    <input type='submit' value="Enter My Shop">
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}